@import "reset.scss";
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

$purple: #5C7BCF;

body {
    background: linear-gradient(90deg, #136a8a, #267871);
}

.wrapper {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.app {
    .current-weather {
        background: rgba(0, 0, 0, .1);
        height: 90px;
        color: #fff;
        padding: 10px;
    }
    .input-group {
        display: flex;
        justify-content: center;
        margin: 50px 50px;
        input, .btn {
            display: inline-block;
            line-height: 170%;
        }
        input {
            border: 1px solid rgba(0, 0, 0, .1);
            padding: 0 12px;
            border-radius: 3px 0 0 3px;
            flex: 1;
            color: rgba(255, 255, 255, .7);
            background: rgba(0, 0, 0, .1);
            font-size: 1rem;
        }
        .btn-container {
            .btn {
                background: rgba(0, 0, 0, .2);
                color: #fff;
                padding: 7px 35px;
                border-radius: 0 3px 3px 0;
                cursor: pointer;
                transition: all .3s ease-out;
                font-size: 1rem;
                &:hover {
                    background: rgba(0, 0, 0, .4);
                }
            }
        }
    }
    .items-container {
        margin: 50px 50px;
        display: flex 1;
        justify-content: space-around;
        .item {
            background: linear-gradient(120deg,rgba(0, 0, 0, .1),rgba(0, 0, 0, .2));
            border-radius: 3px;
            margin-bottom: 50px;
            .weather-args {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                p {
                    color: rgba(255, 255, 255, .7);
                }
                .city {
                    font-size: 1.5rem;
                    margin-bottom: 15px;
                }
                .desc {

                }
                .delete {
                    font-size: 1.5rem;
                    align-self: flex-end;
                    padding-right: 10px;
                    cursor: pointer;
                }
                .temp {
                    margin-top: 50px;
                    margin-bottom: 10px;
                    font-size: 1.5rem;
                    &:after {
                        content: '°';
                    }
                }
            }
        }
    }
}
